### Load the data set from sklearn

In [2]:
import pandas as pd
import numpy as np # importing numpy for numerical computation
from sklearn.datasets import load_boston # here we are using sklearn's boston dataset
from sklearn.metrics import mean_squared_error # importing mean_squared_error metric

In [3]:
boston = load_boston()
x=boston.data #independent variables
y=boston.target #target variable

### Load the dataset into dataframe and checking the column names

In [4]:
df=pd.DataFrame(boston.data)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
df.columns = boston.feature_names
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

### Split the dataset into training and test datset using sklearn

In [ ]:
# Splitting to training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 4)

### Create a RF regressor and train the model

In [64]:
# Import Random Forest Regressor
from sklearn.ensemble import RandomForestRegressor

# Create a Random Forest Regressor
reg = RandomForestRegressor()

# Train the model using the training sets 
reg.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

### Predict the model

In [65]:
y_pred = reg.predict(X_train)

In [66]:
print(y_pred)

[23.286 18.521 19.748 13.736 48.402 21.479 47.476 14.085 20.549 48.448
 34.645  9.899 15.288 22.341 24.571 24.802 17.977 45.597 22.904 20.785
 18.403 19.648 19.365 14.783 22.667 14.954 15.482 46.065 20.747 13.921
 18.401 21.916 21.879 22.082 23.395 18.011 16.363  5.561  8.681 25.747
 18.895 21.161 29.302  6.509 11.784  7.574 33.123 15.086 12.99  26.14
 17.316  6.807 23.342 23.302 22.82  18.415 13.943 23.5   24.551 15.296
  9.974 22.152 22.679 27.151 15.014 18.969 20.528 15.024 20.394 17.869
 20.206 43.424 30.261 20.229 17.514 19.466 21.708 32.684 47.046 32.796
 20.457 21.64   8.896 12.291 14.456 22.318 18.994 21.083 21.752 21.275
 17.403 22.622 35.514 28.349 12.241 19.412 22.161  8.987 21.212 19.351
 20.983 23.752 23.657 18.93  25.889 49.403 10.178 18.087 14.019 15.441
 16.981 16.09  20.721 21.055 28.15  21.347 22.076 24.464 25.915 36.789
 19.455 29.123 19.358 22.278 23.279 24.305 26.565 20.9   22.808 18.874
 15.938 23.173 13.582 19.341 21.305 21.432 23.484 21.522 21.022 11.662
 23.338 23.872 24.044 14.165 24.474 21.063 19.962 32.008 46.859 14.642
 34.782 22.565 18.95  19.633 13.835 15.301 24.709 29.157 25.072 30.943
 12.95  22.493 17.101 22.1   27.497 35.521 27.925 21.118 14.867 48.376
 17.783 22.785 20.724 11.577 21.104  7.984 16.048 26.337 32.649 10.1
 31.754 16.602 34.413 20.149 22.082 22.202 27.239 23.354 34.782 14.5
 18.511 13.968 22.453 21.368  9.817 13.608 23.97  30.2   20.572 15.168
 27.584 17.023 35.551 24.47  23.058 16.424 20.401 10.541 23.476 36.504
 20.407 17.135 20.172 41.564 24.18  24.788 24.429 18.297 20.493 23.054
 21.101 20.014 20.732 21.729 14.432 20.105 16.482 21.752 20.367 18.239
 30.429 15.593 38.314 27.898 25.821 21.129  8.852 21.207 45.24  23.516
 34.942 16.021 33.651 19.922 14.139  9.007 33.566 22.148 20.91  19.673
 20.943  8.624 26.236 16.684  9.592 21.776 14.202  9.538 23.92  19.547
 18.962 10.542 24.211 19.75  23.967 35.091 20.764 20.203 19.831 27.818
 20.791 27.106 10.576 32.412 33.908 32.391 32.282 34.193 22.387 27.967
 33.62  18.165 12.878 34.139 15.595 26.745 19.63  20.066 22.891 30.183
 23.705 27.57  24.107 14.427 20.039 20.584 15.54  27.391 43.852 21.099
 45.341 41.57  33.43  15.217 27.908 22.733 46.454 10.729 12.745 23.654
 23.322  8.941 25.169 17.084 21.037 19.68  17.56  13.596 13.142 23.788
 28.081 24.089 20.971 23.606 15.546 19.417 31.571 25.047  7.884 24.755
 15.431 21.636 21.259 12.139 22.091 18.542 22.093 25.072 22.811 21.075
 19.354 22.125 30.58  23.097 14.256 34.265 13.897 22.232 24.114  8.004
 31.313 12.576 21.926 19.458]

### Model Evaluation

In [68]:
from sklearn import metrics
# Model Evaluation
print('R^2:',metrics.r2_score(y_train, y_pred))
print('Adjusted R^2:',1 - (1-metrics.r2_score(y_train, y_pred))*(len(y_train)-1)/(len(y_train)-X_train.shape[1]-1))
print('MAE:',metrics.mean_absolute_error(y_train, y_pred))
print('MSE:',metrics.mean_squared_error(y_train, y_pred))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_train, y_pred)))

R^2: 0.9783051582584157
Adjusted R^2: 0.9774756496035905
MAE: 0.8450875706214688
MSE: 1.6329887372881358
RMSE: 1.2778844772858522